doctype html
html(lang="en" data-theme="dark")
head
    link(
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    )
    script(src="https://cdn.tailwindcss.com")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    block head
body 
    if (user || currentUser)
        -console.log(currentUser)
        div(class="navbar bg-base-100")
            div(class="flex-1")
                a(class="btn btn-ghost text-xl" href="/") Message Board
            div(class="flex-none")
                button(class="btn")
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
                    | Button
                ul(class="menu menu-horizontal px-1")
                    div(class="flex items-center")
                        case true
                            when (currentUser.isAdmin === true)
                                div(class="badge badge-error gap-2") Admin
                            when (currentUser.membershipStatus === 'active')
                                div(class="badge badge-success gap-2") Club Member
                            when (currentUser.membershipStatus === 'inactive')
                                div(class="badge badge-warning gap-2") Tourist
                    li 
                        a(href="/activation") Activate Account
                    li 
                        a(href="/log-out") Log out
    else
        div(class="navbar bg-base-100")
            div(class="flex-1")
                a(class="btn btn-ghost text-xl" href="/") Message Board
            div(class="flex-none")
                ul(class="menu menu-horizontal px-1")
                    li 
                        a(href="/sign-up") Sign up
                    li 
                        a(href="/login") Log in
        

    block content