extends layout.pug

block content 
    -function errorMsg(inputName)
            if (errors)
                -const error = errors.find((e) => e.path === inputName)
                if (error)
                    p.text-red-500.text-xs.italic= error.msg

    
    <form class="max-w-sm mx-auto">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-200">Your message</label>
        -errorMsg("message")
        <textarea id="message" name="message" rows="4" class="block p-2.5 w-full text-sm text-gray-50 bg-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write anything you want..."></textarea>
        <div class="flex justify-center">
            <button type="submit" class="mt-6 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-gray-900 text-white rounded-md group-hover:bg-opacity-0">
                    | Submit
                </span>
            </button>
        </div>
    </form>